body {
    background-color: rgb(67, 141, 107);
    margin: 5px;
}

h2{
    color: white;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 100px;
}

li{
    display: inline-block; 
    margin-right: 70px; 
}

a{
    text-decoration: none;
}

.header-container{
    display: flex;
    flex-flow: column;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.image-container{
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.image-container img{
    border-radius: 10%;
    border: 1px solid black;
}

.image-container p{
    display: flex;
    align-content: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 350px;
    font-size: large;     
    font-weight: 400; 
    text-align: center;
    margin-left: 10px;
}

.soft-skills-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.soft-skills-container  h3{
    color: white;
}

.hard-skills-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hard-skills-container h3{
    color: white;
}

.links-profissionais {
    text-align: center;
}

.footer{
    display: flex;
    background-color: white;
    margin-top: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
