body {
    background-color: darkcyan;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    line-height: 20px;
}

.estilo-turma {
    color: white;
    text-align: center;
    line-height: 60px;
}

.resumo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    color: white;
    font-style: inherit;
    font-size: large;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-align: center;
}

#contato-profissional {
    color: white;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    border-radius: 10%;
}

.minhas-habilidades {
    color: white;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

div li {
    color: black;
    font-weight: 200;
    font-size: 20px;
    overflow: auto;
    text-align: center;
    line-height: 30px;

}

.button {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}